.slideshow {
    max-width: 100vw;
    max-height: 98vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.each-fade {
    width: 100vw;
    height: 100%;
    z-index:99;
    overflow: hidden;
}

.slideshow img {
    min-width: 100%;
    min-height: 100vh;
    max-height: 150vh;
    padding-bottom: 2vh;
    background-size:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(50%);
}

.header {
    position: absolute;
    top: 20%;
    width: 100%;
    z-index:98;
}

.fade-wrapper {
    transition: opacity ease-in-out;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}