.projectBox {
    margin: 30px;
    min-height: 39vh;
    position: relative;
    overflow: hidden;
}

.projectBox img {
    width: 100%;
}

.background {
    transition: 0.25s filter ease-in;
    opacity: 0.7;
}

.projectBox:hover .background{
    filter:blur(2px) brightness(50%);
    opacity: 1;
}

.projectBox:hover .projectContext{
    opacity: 1;
}

.projectContext {
    position: absolute;
    top: 1%;
    width: 100%;
    opacity: 0;
    padding: 10px;
}

.projectContext:hover {
    opacity: 1;
}

.projectContext h3 {
    font-family: Bahnschrift;
    color: aliceblue;
    font-size: 25px;
    font-weight: 40;
    padding: 10px;
}

.projectContext .description {
    font-family: Bahnschrift;
    color: aliceblue;
    font-size: 15px;
    font-weight: 30;
}

.stacks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.stacks p {
    border-radius: 20px;
    font-size: 15px;
    color: aliceblue;
    background-color: darkcyan;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}