.projectBoxesSection {
    margin-top: 60px;
    margin-bottom: 60px;
}

.projectBoxesTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 60;
    margin-top: 60px;
}

.projectBoxes {
    display:flex;
    flex-direction: row;
    margin:auto;
    padding: 10px;
    justify-content: center;
}

@media (max-width: 900px) {
    .projectBoxes {
        flex-direction: column;
    }
}