.projectBox {
    margin: 5px;
    max-height: 39vh;
    position: relative;
    overflow: hidden;
}

.projectBox img {
    width: 100%;
}

.background {
    transition: 0.25s filter ease-in;
    opacity: 0.7;
}

.projectBox:hover .background{
    filter:blur(2px) brightness(50%);
    opacity: 1;
}

.projectBox:hover .projectContext{
    opacity: 1;
}

.projectContext {
    position: absolute;
    top: 1%;
    width: 100%;
    opacity: 0;
    padding: 10px;
}

.projectContext:hover {
    opacity: 1;
}

.projectContext h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 25px;
    font-weight: 40;
    padding: 10px;
}

.projectContext .description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 15px;
    font-weight: 30;
}

.stacks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.stacks p {
    border-radius: 20px;
    color: aliceblue;
    background-color: darkcyan;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 1000px) {
    .background {
        filter:blur(5px) brightness(50%);
        opacity: 0.7;
    }

    .projectContext {
        opacity: 1;
    }
}

@media (max-width: 550px) {
    .projectContext h3 {
        font-size: 18px;
        font-weight: 40;
        padding: 10px;
    }

    .stacks p {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 10px;
    }
    
    .projectContext .description {
        font-size: 10px;
    }
}